<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Papercut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Papercut.Properties.Settings>
      <setting name="IP" serializeAs="String">
        <value>Any</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForwardServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ForwardFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="ForwardTo" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimizeOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessagePaths" serializeAs="String">
        <value>%ApplicationData%\Papercut;%BaseDirectory%</value>
      </setting>
      <setting name="RunOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Window_Height" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Window_Width" serializeAs="String">
        <value>700</value>
      </setting>
    </Papercut.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle" publicKeyToken="eec3120e64a3fcba" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5452.18177" newVersion="1.8.5452.18177" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>