<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Papercut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <userSettings>
    <Papercut.Properties.Settings>
      <setting name="IP" serializeAs="String">
        <value>Any</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForwardServer" serializeAs="String">
        <value/>
      </setting>
      <setting name="ForwardFrom" serializeAs="String">
        <value/>
      </setting>
      <setting name="ForwardTo" serializeAs="String">
        <value/>
      </setting>
      <setting name="MinimizeOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Window_Height" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Window_Width" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="MessagePaths" serializeAs="String">
        <value>%ApplicationData%\Changemaker Studios\Papercut SMTP;%ApplicationData%\Papercut;%BaseDirectory%\Incoming;%DataDirectory%\Incoming</value>
      </setting>
      <setting name="MessageListSortOrder" serializeAs="String">
        <value>Ascending</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
    </Papercut.Properties.Settings>
  </userSettings>
  <runtime>
  </runtime>
</configuration>
