<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension"
     >

    <?define Manufacturer="Changemaker Studios" ?>
    <?define BinPath="bin\$(var.Configuration)" ?>
    <?define AppBinPath="..\Papercut.UI\$(var.BinPath)\" ?>
    <?define SrvBinPath="..\Papercut.Service\$(var.BinPath)\" ?>

    <?ifndef env.APPVEYOR_BUILD_VERSION ?>
    <?define Version="5.0.0.0" ?>
    <?else?>
    <?define Version=$(env.APPVEYOR_BUILD_VERSION) ?>
    <?endif?>

    <Product Id="*"
             Name="Papercut SMTP"
             Language="1033"
             Version="$(var.Version)"
             Manufacturer="$(var.Manufacturer)"
             UpgradeCode="4ff0774f-3e17-42e1-936f-09877834669a"
        >

        <Package InstallerVersion="405"
                 Manufacturer="$(var.Manufacturer)"
                 Compressed="yes"
                 InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />

        <MediaTemplate EmbedCab="yes" />

        <FeatureGroupRef Id="InstallFeatures"/>

        <Property Id="WIXUI_INSTALLDIR"   Value="INSTALLDIR" />
        <Property Id="INSTALLLEVEL"       Value="10" />
        <WixVariable Id="WixUIBannerBmp"  Value="Resources\Papercut-banner.bmp" />
        <WixVariable Id="WixUIDialogBmp"  Value="Resources\Papercut-dialog.bmp" />

        <UIRef Id="UI_FeatureTree" />
    </Product>

    <Fragment>
        <FeatureGroup Id="InstallFeatures">
            <Feature Id="FeatureApplication" Title="Papercut SMTP Application" Level="1">
                <ComponentGroupRef Id="ComponentApplication" />
            </Feature>

            <Feature Id="FeatureService" Title="Papercut SMTP Service" Level="1">
                <ComponentGroupRef Id="ComponentService" />
            </Feature>

        </FeatureGroup>

    </Fragment>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="ManufacturerFolder" Name="Changemaker Studios">
                    <Directory Id="INSTALLFOLDER" Name="Papercut SMTP">
                      <Directory Id="INCOMINGFOLDER" Name="Incoming" />
                    </Directory>
                </Directory>
            </Directory>

          <Directory Id="CommonAppDataFolder">
            <Directory Id="ManufacturerFolder2" Name="Changemaker Studios">
              <Directory Id="COMMONDATAFOLDER" Name="Papercut SMTP">
                <Directory Id="INCOMINGFOLDERCOMMON" Name="Incoming" />
              </Directory>
            </Directory>
          </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Changemaker Studios" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
      <DirectoryRef Id="INSTALLFOLDER">

        <Component Id="Papercut.exe" Guid="*" DiskId="1">
          <File Source="$(var.AppBinPath)Papercut.exe" KeyPath="yes"/>
        </Component>

        <Component Id="Papercut.exe.config" Guid="*" DiskId="1">
          <File Source="$(var.AppBinPath)Papercut.exe.config" KeyPath="yes"/>
        </Component>

        <Component Id="Papercut.exe.manifest" Guid="*" DiskId="1">
          <File Source="$(var.AppBinPath)Papercut.exe.manifest" KeyPath="yes"/>
        </Component>

        <Component Id="Papercut.Service.exe" Guid="*" DiskId="1">
          <File Id="PapercutServiceExe" Source="$(var.SrvBinPath)Papercut.Service.exe" KeyPath="yes"/>


          <ServiceInstall Id="PapercutService"
                          DisplayName="Papercut SMTP Service"
                          Name="PapercutServerService"
                          Description="Papercut SMTP Backend Service"
                          ErrorControl="normal"
                          Start="auto"
                          Type="ownProcess"
                          Account="LOCALSYSTEM"
                          Vital="yes"
                          Interactive="no">
          </ServiceInstall>

          <ServiceControl Id="PapercutServiceControl"
                          Name="PapercutServerService"
                          Stop="uninstall"
                          Remove="uninstall"
                          Wait="yes"/>

          <fw:FirewallException Id="PapercutServerException"
                                Name="Papercut SMTP Backend Service"
                                Program="[#PapercutServiceExe]"
                                IgnoreFailure="yes"
                                Protocol="tcp"
                                Scope="localSubnet"/>

        </Component>

        <Component Id="Papercut.Service.exe.config" Guid="*" DiskId="1">
          <File Source="$(var.SrvBinPath)Papercut.Service.exe.config" KeyPath="yes"/>
        </Component>

        <Component Id="Papercut.Service.json" Guid="*" DiskId="1">
          <File Source="$(var.SrvBinPath)Papercut.Service.Settings.json" KeyPath="yes"/>
        </Component>

      </DirectoryRef>

      <DirectoryRef Id="INCOMINGFOLDERCOMMON">

        <Component Id="Readme.eml" Guid="*" DiskId="1">
          <File Source="$(var.AppBinPath)Readme.eml" KeyPath="yes"/>
        </Component>

      </DirectoryRef>
      
      <DirectoryRef Id="INCOMINGFOLDER">
        <Component Id="IncomingPermissions" Guid="D98936AA-3ED4-4DC6-B469-63CFEEF58066">
          <CreateFolder>
            <util:PermissionEx User="Everyone" GenericAll="yes" />
          </CreateFolder>
        </Component>
      </DirectoryRef>

      <DirectoryRef Id="INCOMINGFOLDERCOMMON">
        <Component Id="IncomingPermissionsCommon" Guid="D98936AB-7ED4-4DC6-B469-63CFEEF58066">
          <CreateFolder>
            <util:PermissionEx User="Everyone" GenericAll="yes" />
          </CreateFolder>
        </Component>
      </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="8B319445-90CE-490E-A9E4-E2834E1C76E5">

                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Papercut"
                          Description="Launch Papercut SMTP"
                          Target="[#Papercut.exe]"
                          WorkingDirectory="INSTALLFOLDER"/>

                <RemoveFolder Id="CleanUpShortCut"
                              Directory="ApplicationProgramsFolder"
                              On="uninstall"/>

                <RegistryValue Root="HKCU" Key="Software\Microsoft\Papercut"
                               Name="installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ComponentApplication">
            <ComponentRef Id="Papercut.exe"/>
            <ComponentRef Id="Papercut.exe.config"/>
            <ComponentRef Id="Papercut.exe.manifest"/>
            <ComponentRef Id="Readme.eml"/>
            <ComponentRef Id="IncomingPermissions" />
            <ComponentRef Id="IncomingPermissionsCommon" />
            <ComponentRef Id="ApplicationShortcut"/>
        </ComponentGroup>

        <ComponentGroup Id="ComponentService">
            <ComponentRef Id="Papercut.Service.exe"/>
            <ComponentRef Id="Papercut.Service.exe.config"/>
            <ComponentRef Id="Papercut.Service.json"/>
        </ComponentGroup>
    </Fragment>
</Wix>
