_ReSharper.Papercut
[Bb]in
[Oo]bj
*.user
*.TeamCity.user
Papercut.suo
Papercut.*.suo
Papercut.ncrunchsolution
Papercut.ncrunchsolution.*
*.hgignore
*.ide
deploy/
changelog.bat
graphics/
.vs/
/build/tools
/tools
out/
.vscode/
.idea/
*.msi
node_modules/
src/Papercut.UI/publish
