_ReSharper.Papercut
[Bb]in
[Oo]bj
*.user
*.TeamCity.user
Papercut.suo
Papercut.*.suo
Papercut.ncrunchsolution
Papercut.ncrunchsolution.*	  

/.hg
/packages
*.hgignore
*.ide
deploy/
changelog.bat
graphics/
.vs/

/release

node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock


.DS_Store
sh.exe.stackdump










src/Papercut.Desktop/*.dll
src/Papercut.Desktop/*.pdb
src/Papercut.Desktop/*.exe
src/Papercut.Desktop/runtimes/
src/Papercut.Desktop/*.dll.config
src/Papercut.Desktop/*.deps.json
src/Papercut.Desktop/*.runtimeconfig.json
src/Papercut.Desktop/Logs/
src/Papercut.Desktop/Incoming/
src/Papercut.Desktop/\\Incoming/