<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net45" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.1.2" targetFramework="net45" developmentDependency="true" />
  <package id="Serilog" version="2.5.0" targetFramework="net45" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net45" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net45" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Seq" version="3.3.3" targetFramework="net45" />
</packages>