<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Testing" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="78863330-de68-4b05-9949-8a8d44e2664e">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
