<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.4.6" targetFramework="net45" developmentDependency="true" />
  <package id="MimeKit" version="2.0.2" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Serilog" version="2.5.0" targetFramework="net45" />
  <package id="Topshelf" version="3.3.1" targetFramework="net45" />
  <package id="Topshelf.Serilog" version="3.3.1" targetFramework="net45" />
</packages>