<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net45" />
  <package id="AutofacSerilogIntegration" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="Serilog" version="2.5.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Console" version="3.0.1" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net45" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net45" />
</packages>