<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:net="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <?include PapercutVars.wxi ?>

  <Bundle Name="$(var.ProductName)"
          Version="!(bind.packageVersion.PapercutMsi)"
          Manufacturer="!(bind.packageManufacturer.PapercutMsi)"
          UpgradeCode="$(var.UpgradeCode)"
          AboutUrl="https://github.com/ChangemakerStudios/Papercut"
          Copyright="Copyright (c) 2021 by Changemaker Studios"
          HelpUrl="https://github.com/ChangemakerStudios/Papercut"
          IconSourceFile="Resources\App.ico">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense">
            <bal:WixStandardBootstrapperApplication LicenseUrl="" 
                                                    ShowVersion="yes" 
                                                    LogoFile="Resources\Papercut-Logo.png" 
                                                    LogoSideFile="Resources\Papercut-Sidelogo.png" />
        </BootstrapperApplicationRef>

        <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles6432Folder]!(bind.packageManufacturer.PapercutMsi)\Papercut SMTP"/>
        <Variable Name="CommonDataFolder" Type="string" Value="[CommonAppDataFolder]!(bind.packageManufacturer.PapercutMsi)\Papercut SMTP"/>

        <Chain>
            <PackageGroupRef Id="NetFx472Web" />

            <RollbackBoundary />

            <MsiPackage Id="PapercutMsi"
                        SourceFile="$(var.Papercut.Installer.TargetPath)"
                        Compressed="yes"
                        DisplayInternalUI="yes"
                        Vital="yes">
                <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
                <MsiProperty Name="COMMONDATAFOLDER" Value="[CommonDataFolder]" />
            </MsiPackage>
        </Chain>
    </Bundle>
</Wix>