<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

	<!--
      .NET Framework installation state properties
      Official documentation can be found at the following location:
      .NET Framework 4.5/4.5.1/4.5.2/4.6/4.6.1/4.6.2/4.7/4.7.1/4.8 - https://msdn.microsoft.com/en-us/library/w0x726c2(v=vs.110).aspx
   -->

	<?define NetFx48MinRelease = 528040 ?>
	<?define NetFx48WebLink = https://go.microsoft.com/fwlink/?LinkId=2085155 ?>
	<?define NetFx48RedistLink = https://go.microsoft.com/fwlink/?linkid=2088631 ?>
	<?define NetFx48EulaLink = https://referencesource.microsoft.com/license.html ?>

	<Fragment>
		<PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
		<Property Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" Secure="yes" />
		<SetProperty Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" Value="1" After="AppSearch" Condition="WIXNETFX4RELEASEINSTALLED &gt;= &quot;#$(var.NetFx48MinRelease)&quot;" />
	</Fragment>

	<Fragment>
		<util:RegistrySearchRef Id="NETFRAMEWORK45" />

		<WixVariable Id="WixMbaPrereqPackageId" Value="NetFx48Web" />
		<WixVariable Id="WixMbaPrereqLicenseUrl" Value="$(var.NetFx48EulaLink)" Overridable="yes" />
		<WixVariable Id="NetFx48WebDetectCondition" Value="NETFRAMEWORK45 &gt;= $(var.NetFx48MinRelease)" Overridable="yes" />
		<WixVariable Id="NetFx48WebInstallCondition" Value="" Overridable="yes" />
		<WixVariable Id="NetFx48WebPackageDirectory" Value="redist\" Overridable="yes" />

		<PackageGroup Id="NetFx48Web">
			<ExePackage PerMachine="yes" DetectCondition="!(wix.NetFx48WebDetectCondition)" InstallCondition="!(wix.NetFx48WebInstallCondition)" Id="NetFx48Web" Vital="yes" Permanent="yes" Protocol="netfx4" LogPathVariable="NetFx48FullLog" InstallArguments="/q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;" RepairArguments="/q /norestart /repair /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;" UninstallArguments="/uninstall /q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;">
				<ExePackagePayload Description="Microsoft .NET Framework 4.8 Setup" Hash="4181398AA1FD5190155AC3A388434E5F7EA0B667" ProductName="Microsoft .NET Framework 4.8" Size="1439328" Version="4.8.4115.0" Name="!(wix.NetFx48WebPackageDirectory)ndp48-web.exe" DownloadUrl="$(var.NetFx48WebLink)" />
			</ExePackage>
		</PackageGroup>
	</Fragment>

	<Fragment>
		<util:RegistrySearchRef Id="NETFRAMEWORK45" />

		<WixVariable Id="WixMbaPrereqPackageId" Value="NetFx48Redist" />
		<WixVariable Id="WixMbaPrereqLicenseUrl" Value="$(var.NetFx48EulaLink)" Overridable="yes" />
		<WixVariable Id="NetFx48RedistDetectCondition" Value="NETFRAMEWORK45 &gt;= $(var.NetFx48MinRelease)" Overridable="yes" />
		<WixVariable Id="NetFx48RedistInstallCondition" Value="" Overridable="yes" />
		<WixVariable Id="NetFx48RedistPackageDirectory" Value="redist\" Overridable="yes" />

		<PackageGroup Id="NetFx48Redist">
			<ExePackage PerMachine="yes" DetectCondition="!(wix.NetFx48RedistDetectCondition)" InstallCondition="!(wix.NetFx48RedistInstallCondition)" Id="NetFx48Redist" Vital="yes" Permanent="yes" Protocol="netfx4" LogPathVariable="NetFx48FullLog" InstallArguments="/q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;" RepairArguments="/q /norestart /repair /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;" UninstallArguments="/uninstall /q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx48FullLog].html&quot;">
				<ExePackagePayload Description="Microsoft .NET Framework 4.8 Setup" Hash="E322E2E0FB4C86172C38A97DC6C71982134F0570" ProductName="Microsoft .NET Framework 4.8" Size="121307088" Version="4.8.4115.0" Name="!(wix.NetFx48RedistPackageDirectory)ndp48-x86-x64-allos-enu.exe" DownloadUrl="$(var.NetFx48RedistLink)" />
			</ExePackage>
		</PackageGroup>
	</Fragment>
</Wix>